@import url("https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css");

body {
    margin: 0;
    padding: 0;
    background: #121212;
    color: white;

    font-family: 'San-Francisco-Font', sans-serif;
}