@import url('https://cdn.jsdelivr.net/gh/mailtoharshit/San-Francisco-Font-/sanfrancisco.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css');

* {
    font-family: 'San-Francisco-Font', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background: #121212;
    color: white;

    width: 100vw;
    height: 100vh;

    overflow: hidden;
}

.background-blur {
    width: 100%;
    height: 100%;

    position: absolute;
    bottom: 0;
    z-index: 1;

    background-color: #121212cc;

    visibility: hidden;
}

.visible {
    visibility: visible;
}

.station {
    width: 75px;
    height: 75px;
    background: #2f2f2f;
    border-radius: 15px;
    text-align: center;
    line-height: 75px;
    font-weight: bold;
    font-size: 30px;
    cursor: pointer;

    user-select: none;

    border: none;
}

.station:hover {
    background: #434242;
    /* border-radius: 17.5px; */
}

.station:active {
    background: #2b2b2b;
}

.station-popup {
    visibility: hidden;
    
    width: 75%;
    height: 70%;

    background-color: #373737;
    border: 1px solid #444444;
    border-radius: 25px;

    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;

    z-index: 2;
}

.station-popup.show-popup {
    visibility: visible;
}

#stations-container {
    z-index: 0;
}

.text-center {
    text-align: center;
}

.close-btn {
    width: 45px;
    height: 45px;
    background-color: #ffffff00;
    border: none;
    color: white;
    cursor: pointer;
    position: absolute;
    font-size: 30px;
    top: 10px;
    right: 10px;
}

.station-title {
    font-weight: bold;
    font-size: 30px;
}

.station-description {
    font-weight: normal;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
    padding-top: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
}

.station-status {
    font-weight: normal;
    font-size: 30px;
    padding-left: 20px;
    padding-right: 20px;
    width: calc(100% - 40px);
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
}

.status-text {
    font-weight: bold;
}

.app-btn {
    padding: 10px;
    background-color: #373737;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    outline: none;
    margin-left: 5px;
    margin-right: 5px;
}

.min-width-100 {
    min-width: 100px;
}

.app-btn:hover {
    background: #434242;
}

.app-btn:active {
    background: #2b2b2b;
}

.app-btn-container {
    position: absolute;

    width: 100%;
    bottom: 0;

    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: center;
}